.content-wrapper {
    background: url('/static/GLOBAL/img/fon_content-wrapper.svg') no-repeat center top;
    /* background-size: cover; */
}

@media (min-width: 1930px) {
    .content-wrapper {
        background: url('/static/GLOBAL/img/fon_content-wrapper.svg') no-repeat center top !important;
        background-size: cover !important;
        background-size: 75% auto !important;
    }
}
@media (min-width: 1700px) {
    .content-wrapper {
        background: url(/static/GLOBAL/img/fon_content-wrapper.svg) no-repeat center calc(0% + 1rem);
        background-size: 85% auto;
    }
}

@media (max-width: 1375px) {
    .content-wrapper {
        background: url(/static/GLOBAL/img/fon_content-wrapper.svg) no-repeat center calc(0% + 2rem);
        background-size: 100% auto;
        background-origin: content-box;
    }
}

@media (max-width: 1175px) {
    .content-wrapper {
        background: url(/static/GLOBAL/img/fon_content-wrapper.svg) no-repeat center calc(0% + 3rem);
        background-size: 100% auto;
    }
}

@media (max-width: 1050px) {
    .content-wrapper {
        background: url(/static/GLOBAL/img/fon_content-wrapper.svg) no-repeat center calc(0% + 2rem) !important;
        background-size: 105% auto !important;
    }
}

@media (max-width: 950px) {
    .content-wrapper {
        background: url(/static/GLOBAL/img/fon_content-wrapper.svg) no-repeat center calc(0% + 0rem) !important;
        background-size: 105% auto !important;
    }
}

@media (max-width: 885px) {
    .content-wrapper {
        background: none !important;
    }
}

@media (max-width: 465px) {
    .content-wrapper {
        padding: 0;
    }
}

